.axis path,
.axis line {
  stroke: #e2e2e2;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 16px;
  font-family: "Lato";
  fill: #333;
}

.axis-bottom text {
  text-anchor: center;
}

.bar {
  opacity: 1;
}
