html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
  blue: #0086B1
  purple: #9D0A6D
  dark-grey: #475C6D
  light-grey: #BCCCDD
  green: #5C9323
  bright-gren: #22B572
  yellow: #E19A00
*/
